body {
    background: coral;
    display: grid;
    grid-template: 100px 400px / 1fr;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}