@import url('./fonts/general-sans.css');

* {
    --primary-color: #FDFFF7;
    --secondary-color: #0F0A0A;
    --accent-color: #B4ADEA;
    font-family: 'GeneralSans-Regular', sans-serif;
}

body {
    background: var(--secondary-color);
    display: grid;
    grid-template: 100px 400px / 1fr;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.btn {
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--accent-color);
    padding: 0.75em;
    font-family: 'GeneralSans-Semibold';
    font-size: 16px;
    font-weight: 700;
    transition: 0.2s ease-in-out;
        &&:hover {
            color: var(--accent-color);
            cursor: pointer;
    }
}

.content {
    text-align: center;
    color: var(--primary-color);
}